<div id="comparison">
	<h2>Escolha o melhor filme?</h2>
	<br />
	<div class="row-fluid marketing">

		<div class="span6">
			<img src="img/{{comparison.first.id}}.jpg" class="img-polaroid"
				ng-click="addVote(comparison.first)" cursor=>
			<h4>{{comparison.first.name}}</h4>
			<p>{{comparison.first.sinopse}}</p>
		</div>

		<div class="span6">
			<img src="img/{{comparison.second.id}}.jpg" class="img-polaroid"
				ng-click="addVote(comparison.second)">
			<h4>{{comparison.second.name}}</h4>
			<p>{{comparison.second.sinopse}}</p>
		</div>
	</div>
	<br />
</div>